body {
    margin: 100px 50px 100px 50px;
    background-color: rgb(250, 237, 196);
}

main {
    width: 75%;
    margin: 0 auto;
    background-color: white;
}

main p {
    padding: 0 50px;
}
/* Font styling */

h1 {
    font-family: gastromond, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    margin-top: 0;
}

h2 {
    font-family: gastromond, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.index-h2 {
    font-size: 30px;
    margin: 5px;
}

h3 {
    font-family: expo-serif-pro, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

h4{
    font-family: expo-serif-pro, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-align: center;
}

p{
    font-family: houschka-rounded, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
}

ul{
    font-family: houschka-rounded, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: center;
}

.logo {
    width: 50px;
}
.about {
    padding: 20px;
}

.poop{
    text-align: left;
    line-height: 200%;
}

.visit{
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    justify-content: center;
}

div.visit iframe {
    margin: auto;
}

/* Nav Bar */

nav{
    font-family: houschka-rounded, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    background-color: rgb(250, 237, 196);
    color: black;
}

.menu-nav > a {
    background-color: rgb(245, 57, 73);
}

nav > a {
    color: black;
    text-decoration: none;
    background-color: lightblue;
    text-align: center;
    width: 100%;
    padding: 20px 5%;
    
}

nav > a:hover {
    background-color: azure;
}

nav > a.active {
    background-color: whitesmoke;
    width: 100%;
}

.dropdown {
    background-color: lightblue;
    width: 100%;
}

.dropdown:hover {
    background-color: azure;
}

.dropdown p {
    font-family: houschka-rounded, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 5px;
}

.dropdown-content {
    display: none;
    font-family: houschka-rounded, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 5px;
    width: 100%;
    margin: auto;
    background-color: rgb(250, 237, 196);
    color: black;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    background-color: lightblue;
    text-align: center;
    padding: 20px 5%;
}

.dropdown a:hover {
    background-color: azure;
}

.dropdown-content a:hover {
    background-color: azure;
}

.dropdown-content a.active {
    background-color: whitesmoke;
}

footer {
    background-color: antiquewhite;
    padding: 20px 0;
    width: 75%;
    margin: auto;
}

.footer-nav {
    background-color: antiquewhite;
    padding: 0;
}

.footer-nav a {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.footer-nav a:hover {
    background-color: antiquewhite;
}

.footer-nav a.active {
    background-color: antiquewhite;
}

/* menu stuff*/

.menu {
    display: grid;
    gap: 20px;
    grid-template-columns: 35% 35%; 
    justify-content: center;
    padding-bottom: 50px;
  }

.coffeebox {
    background-color: lightblue;
    padding: 25px;
}

.teabox {
    background-color: lightblue;
    padding: 25px;
}

.pastrybox{
    background-color: lightblue;
    padding: 25px;
}

.sandwichbox {
    background-color: lightblue;
    padding: 25px;
}

/*index grids*/
.grid-buckets {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto; 
    justify-content: space-evenly;
}

.grid-buckets a {
    text-decoration: none;
    color: black;
}

.grid-item {
    text-decoration: none;
    text-align: center;
    overflow-wrap: normal;
    
}

.grid-item > img {
    width: 400px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: space-evenly;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.CatGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: space-evenly;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Media Queries*/

@media screen and (max-width: 1800px) {
    .grid-buckets {
        grid-template-columns: 1fr;
        padding: 20px;
        grid-row-gap: 20px;
        
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-item img {
        width: 50%;
    }

    nav > a, nav > a.active {
        padding-left: 2.5%;
        padding-right: 2.5%;

    }

}

@media screen and (max-width: 1005px) {
    nav > a {
        display: none;
    }

    .dropdown {
        display: block;

    }

    nav {
        display: flex;
        flex-direction: column;
    }
    
    .menu{
        display: grid;
        grid-template-columns: auto; 
        justify-content: center;
    }
    
    .dropdown-content a {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1006px) {
    .dropdown, .dropdown-content, #myDropdown, .dropdown-content a  {
        display: none;
        width: 0;
    }
}



